# MANDATORY
DATABASE_URL=
APP_KEY=
REDIRECT_URL=


# OPTIONAL
# Misc
PORT=
PREFIX=

# Redis
REDIS_URL=

# Email
EMAIL_URL=
EMAIL_FROM=

# Oidc
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_CLIENT_URL=
